@tailwind base;
@tailwind components;
@tailwind utilities;

svg:not(:root) {
  overflow: hidden;
}


.button,
.button--outline {
  @apply px-6 py-3 mx-2 mt-1 mb-2 text-base font-bold text-white no-underline rounded-full bg-gvgreen-500;
  cursor: pointer;
}

.button:hover {
  @apply text-white bg-gvgreen-600;
}

.button--outline:hover {
  @apply text-white border-transparent bg-gvgreen-600;
  white-space: nowrap;
}
.tel-link {
  @apply text-gray-700;
}
.tel-link:hover {
  @apply text-gvgreen-800;
}
.gv-logo svg {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}
.ff0 {
  font-family: sans-serif;
}
.ff1 {
  font-family: "omnes";
}
strong {
  @apply text-gvgreen-700;
}