:root {
  --gvgreen-100: #ecf3e7;
  --gvgreen-200: #cee3c0;
  --gvgreen-300: #b2d59a;
  --gvgreen-400: #91c86f;
  --gvgreen-500: #72be46;
  --gvgreen-600: #599e33;
  --gvgreen-700: #3e7722;
  --gvgreen-800: #285115;
  --gvgreen-900: #112509;
}

.text-gvgreen-100 {
  color: var(--gvgreen-100);
}

.text-gvgreen-200 {
  color: var(--gvgreen-200);
}

.text-gvgreen-300 {
  color: var(--gvgreen-300);
}

.text-gvgreen-400 {
  color: var(--gvgreen-400);
}

.text-gvgreen-500 {
  color: var(--gvgreen-500);
}

.text-gvgreen-600 {
  color: var(--gvgreen-600);
}

.text-gvgreen-700 {
  color: var(--gvgreen-700);
}

.text-gvgreen-800 {
  color: var(--gvgreen-800);
}

.text-gvgreen-900 {
  color: var(--gvgreen-900);
}

.bg-gvgreen-100 {
  background-color: var(--gvgreen-100);
}

.bg-gvgreen-200 {
  background-color: var(--gvgreen-200);
}

.bg-gvgreen-300 {
  background-color: var(--gvgreen-300);
}

.bg-gvgreen-400 {
  background-color: var(--gvgreen-400);
}

.bg-gvgreen-500 {
  background-color: var(--gvgreen-500);
}

.bg-gvgreen-600 {
  background-color: var(--gvgreen-600);
}

.bg-gvgreen-700 {
  background-color: var(--gvgreen-700);
}

.bg-gvgreen-800 {
  background-color: var(--gvgreen-800);
}

.bg-gvgreen-900 {
  background-color: var(--gvgreen-900);
}

/* :root {
  --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --color-light: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #1f2937;
  }
}

a {
  color: inherit;
}

header > div {
  font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 1em;
  font-weight: 500;
}
header img {
  width: 2em;
  height: 2.667em;
}

h2 {
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}

.counter {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  font-size: 2rem;
  justify-content: center;
  padding: 2rem 1rem;
}

.counter > pre {
  text-align: center;
  min-width: 3ch;
} */
