---
import Layout from '../layouts/Main.astro';

// Style Imports
// import '../styles/global.css';
// import '../styles/home.css';
// Component Imports
import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Home';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title={title}
  canonicalURL={Astro.request.canonicalURL}>
  <!-- slot content start -->
  <div class="index1">
    <h2 class="title">{title}</h2>

		<Tour />

	</div>
  <!-- slot content end -->
</Layout>
