---
---

<section
  class="flex justify-center pb-4 text-center md:text-left py-12 md:py-24 px-6 relief text-white bg-orange-900"
>
  <div class="max-w-2xl md:flex">
    <div class="md:w-1/2">
      <h2 class="text-4xl mb-3">
        <a href="#" class="no-underline text-gray-300 ff1"
          >Voorbereidende grondwerken</a
        >
      </h2>
      <p class="text-xl ff1">
        Tot onze voorbereidende grondwerken behoren onder meer het uitgraven
        en/of egaliseren van de tuin (met of zonder afvoer van de grond), het
        voorzien van stabilisé voor klinkerwerken.
      </p>
    </div>
    <div class="md:w-1/2 flex justify-center items-center">
      <svg
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-current w-48"
      >
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"
        ></path>
      </svg>
    </div>
  </div>
</section>
