<div class="flex flex-col items-center mx-auto mt-10 mb-10 lg:w-2/3 md:3/4">
  <h1 class="mb-4 text-4xl font-semibold text-center font-heading md:text-5xl tracking-sm text-gvgreen-700">
    Wat kan ik voor U doen ?</h1>
  <p class="mb-2 text-lg leading-relaxed text-center text-gray-700">
    Ik leg uw tuin aan en onderhoud hem.
    <br>Van uw
    <strong>tuin of gazon aanleggen</strong> tot bomen en struiken planten, tot klinkerwerken toe.
    <br>Een mooie tuin moet goed onderhouden worden om zijn uitstraling te behouden en ook deze klus kan ik
    voor U opknappen.
    <br>
  </p>

  <div class="flex mt-4 md:flex-row">
    <a href="tel:0032476349748" target="_blank" class="text-center button">Bel me gerust voor een afspraak.</a> 
    <a href="/#contactform" class="no-underline button--outline">Of stuur een mailtje</a>
  </div>

</div>