<div class="lg:w-2/3 md:3/4 mx-auto mt-10 mb-10 flex flex-col items-center">
  <h1 class="font-heading font-semibold text-4xl md:text-5xl text-center tracking-sm mb-4 text-brown ff1">
    Wat kan ik voor U doen ?</h1>
  <p class="text-xl text-grey-dark text-center leading-normal ff1">
    Ik leg uw tuin aan en onderhoud hem.
    <br>Van uw
    <strong>tuin of gazon aanleggen</strong> tot bomen en struiken planten, tot klinkerwerken toe.
    <br>Een mooie tuin moet goed onderhouden worden om zijn uitstraling te behouden en ook deze klus kan ik
    voor U opknappen.
    <br>
  </p>
  <div class="flex md:flex-row mt-4">
    <a href="tel:0032476349748" target="_blank" class="button text-center">Bel me gerust voor een afspraak.</a> 
    <a href="/#contactform" class="button--outline no-underline">Of stuur een mailtje</a>
  </div>
</div>