---
import imgUrl from '/assets/images/7556a8f.png';

---

<div class="lg:w-2/3 md:3/4 mx-auto py-12">
  <h1 class="font-heading font-semibold text-4xl md:text-5xl text-center tracking-sm mb-4">
   Manier van werken
  </h1>
  <p class="text-xl text-grey-dark text-center leading-normal ff1">Vooraleer ik aan een project begin,
    overlopen we samen even de wensen, bekijken de huidige tuin of de oppervlakte, locatie ten op zichte van
    de woning, bestaande elementen in het landschap etc. Op basis daarvan en uw beschikbare budget werk ik
    dan een plan uit, met een duidelijke kostenraming en tijdsplanning. En dan kunnen we van start.</p> <img alt="wheelbarrow" src={imgUrl} class="block mx-auto my-8">
</div>