---
import { SITE } from '../config.ts'

---
<div class="flex items-center py-12 md:3/4 lg:w-2/3 mx-auto">
  <div class="w-1/2 flex-1 mx-auto">
    <img class="" alt="website-development" src="/assets/images/abbd531.svg">
  </div>
  <div class="w-1/2 flex-2">
    <div class="mb-4 text-center md:text-left">
      <h1 class="font-heading uppercase tracking-lg md:normal-case md:tracking-sm text-2xl md:text-3xl mb-4">
        Tuin Onderhoud</h1>
      <p class="text-lg text-grey leading-normal sm:px-0 px-4 ff1">Onderhoud van je tuin:</p>
    </div>
    <div class="text-lg text-grey text-left md:pl-0 pl-4 ff1">
      <div class="flex items-center mb-3"><svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 w-4 mr-2">
          <g fill="none" fill-rule="evenodd">
            <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"></ellipse>
            <path d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z" fill="#4e862a"></path>
          </g>
        </svg> <span class="ml-1">Tuinonderhoud</span></div>
      <div class="flex items-center mb-3"><svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 w-4 mr-2">
          <g fill="none" fill-rule="evenodd">
            <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"></ellipse>
            <path d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z" fill="#4e862a"></path>
          </g>
        </svg> <span class="ml-1">Snoeien tuin beplanting</span></div>
      <div class="flex items-center mb-3"><svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 w-4 mr-2">
          <g fill="none" fill-rule="evenodd">
            <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"></ellipse>
            <path d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z" fill="#4e862a"></path>
          </g>
        </svg> <span class="ml-1">Snoeien haag</span></div>
      <div class="flex items-center mb-3"><svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 w-4 mr-2">
          <g fill="none" fill-rule="evenodd">
            <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"></ellipse>
            <path d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z" fill="#4e862a"></path>
          </g>
        </svg> <span class="ml-1">Vellen en snoeien van bomen</span></div>
      <div class="flex items-center mb-3"><svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 w-4 mr-2">
          <g fill="none" fill-rule="evenodd">
            <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"></ellipse>
            <path d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z" fill="#4e862a"></path>
          </g>
        </svg> <span class="ml-1">Gazon verticuteren &amp; ontluchten</span></div>
      <div class="flex items-center mb-3"><svg viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 w-4 mr-2">
          <g fill="none" fill-rule="evenodd">
            <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"></ellipse>
            <path d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z" fill="#4e862a"></path>
          </g>
        </svg> <span class="ml-1">Tuin omheining</span></div>
    </div>
    <div><a href="tel:0032476349748" class="tel-link block mt-8 ff1">Bel me gerust als U nog specifieke
        vragen heeft.</a></div>
  </div>
</div>