---
---

<section class="text-gray-600 body-font">
  <div
    class="container flex flex-col items-center px-5 py-24 mx-auto md:flex-row-reverse"
  >
    <div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="/assets/images/abbd531.svg"
      />
    </div>
    <div
      class="flex flex-col items-center text-center text-right lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:items-start md:text-left"
    >
      <h1
        class="w-full mb-4 text-3xl font-medium text-right text-gvgreen-500 title-font sm:text-4xl "
      >
        Tuin Aanleg
      </h1>
      <p class="mb-8 leading-relaxed text-right">
        Op zoek naar de tuin van je dromen ? Daar kan ik je alvast mee helpen.
We kunnen de hele ontzorging doen, van grondwerken tot aanlevering materialen en planten tot de uiteindelijke vakkundige aanleg van de tuin. Met de nodige expertise in planten en bloemen weet ik precies wat, waar en wanneer en zorg ik ervoor dat uw tuin een mooie groene oase wordt.
      </p>
      <div class="pl-4 text-lg text-left text-grey md:pl-0 ff1">
        <div class="flex items-center mb-3">
          <svg
            viewBox="0 0 20 19"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 w-6 h-6 mr-2"
          >
            <g fill="none" fill-rule="evenodd">
              <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"
              ></ellipse>
              <path
                d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"
                fill="#4e862a"></path>
            </g>
          </svg>
          <span class="ml-1">Tuin aanleggen</span>
        </div>
        <div class="flex items-center mb-3">
          <svg
            viewBox="0 0 20 19"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 w-6 h-6 mr-2"
          >
            <g fill="none" fill-rule="evenodd">
              <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"
              ></ellipse>
              <path
                d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"
                fill="#4e862a"></path>
            </g>
          </svg>
          <span class="ml-1">Beplanting</span>
        </div>
        <div class="flex items-center mb-3">
          <svg
            viewBox="0 0 20 19"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 w-6 h-6 mr-2"
          >
            <g fill="none" fill-rule="evenodd">
              <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"
              ></ellipse>
              <path
                d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"
                fill="#4e862a"></path>
            </g>
          </svg>
          <span class="ml-1">Gazon aanleggen</span>
        </div>
        <div class="flex items-center mb-3">
          <svg
            viewBox="0 0 20 19"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 w-6 h-6 mr-2"
          >
            <g fill="none" fill-rule="evenodd">
              <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"
              ></ellipse>
              <path
                d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"
                fill="#4e862a"></path>
            </g>
          </svg>
          <span class="ml-1">Beregeningssystemen</span>
        </div>
        <div class="flex items-center mb-3">
          <svg
            viewBox="0 0 20 19"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 w-6 h-6 mr-2"
          >
            <g fill="none" fill-rule="evenodd">
              <ellipse cx="10" cy="9.4" fill="#d3ecc3" rx="9.5" ry="9.4"
              ></ellipse>
              <path
                d="M4.5 9.7l1.1-1.2 2.8 3 6-6.6 1.1 1.2-7.2 7.7z"
                fill="#4e862a"></path>
            </g>
          </svg>
          <span class="ml-1">Klinkerwerken</span>
        </div>

        <p>Bel me gerust als U nog specifieke vragen heeft.</p>
      </div>
    </div>
  </div>
</section>
